
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
  }

  a:active {
      border:  #5f4aaa;
      border-color: #5f4aaa;
  }

.column {
    flex: 20%;
    max-width: 50%;
    padding: 0 2px;
  }
  
  .column img {
    margin-top: 0px;
    vertical-align: middle;
    align-items: center;
    width: 100%;
  }


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bold;
    color: #5f4aaa;
    text-align: left;
    vertical-align: middle;
    padding: 20px;
    padding-left: 5px;
    border-bottom: gray;
}


#fig-image {
    padding-top: 0px;
    margin-top: 0px;
    align-items: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    color: #5f4aaa;
    text-align: left;
    vertical-align: middle;
    padding: 20px;
    padding-left: 5px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bold;
    color: #5f4aaa;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    padding-left: 5px;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 128px;
    font-weight: bold;
    color:black;
    text-align: center;
    vertical-align: top;
    padding: 5px;
    padding-left: 5px;
}


#logo {

    background: #5f4aaa;
    color: #fff;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-top: gray;
}

#navbarSupportedContent {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #7D8B9A;
    font-weight: 400;
}

.dropdown-menu {
    box-shadow: black;
}

.dropdown-item {
    font-size: small;
}

.nav-link {
    color: black;
}

.navbar {
    background: #fff;
}

body {
    background:#EDEDED;
}

.summary-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: #7D8B9A;
}

.text-box {
    background: white;
    padding=10px;
    margin-top: 50px;
}

@media screen and (max-width: 992px) {
    .column {
      flex: 100%;
      max-width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
    .navbar {
        background: #5f4aaa;
    }
    .navbar-toggler {
        border-color: #fff;
    }
