<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ASL Alphabet Translator</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel= "stylesheet" href= "{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    
    <!-- HEADING -->

    <nav class="navbar navbar-expand-lg navbar-light white">
        <a class="navbar-brand" id="logo" href="index.html">ASL Image Translator - A Machine Learning Project by VizViper</a>
    </nav>

    <!-- PROJECT DESCRIPTION -->

    <div class="container">
        <div class="row">
            <div class="col-md-4 text-box">
                 <a href=""><img src="Images/A_illustration_example.png" alt="Example_A" width="200px"></a>
                 <a href=""><img src="Images/S_illustration_example.png" alt="Example_S" width="200px"></a>
                 <a href=""><img src="Images/L_illustration_example.png" alt="Example_L" width="200px"></a>
            </div>
            <div class="col-md-8 text-box">
                <h1>ASL Image Translator</h1>
                <hr>
                <div class="summary-text">
                    <p>American Sign Language  (ASL) is the primary sign language of deaf communities in the United States, with estimated users ranging between 250,000 - 500,000 persons.</p>
                    <p>Within ASL, there is a collection of 26 signs that represent the phonetic alphabet, which is used for both proper nouns and technical terms for which no native ASL exists.</p>
                    <p>Given the static nature of the ASL alphabet, we saw an opportunity to apply machine learning techniques to train a model to interpret user-submitted images as their associated phonetic letters.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- UPLOADER TOOL -->

    <div class="container">
        <h3>Select image/images of ASL hand signs to interpret</h2>
        <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </p>
        <form method="post" action="/" enctype="multipart/form-data">
            <dl>
                <p id="uploads">
                    <input class="uploads" type="file" name="files[]" multiple="true" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>		
        <div class="uploadrow">
            {% if filenames %}
                {% for filename in filenames %}
                    <div class="uploadcolumn">
                        <img src="{{ url_for('display_image', filename=filename) }}">
                        <!-- <p>{{ filenames|length }}</p> -->
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/add_img.js') }}"></script>
  <script type="module" src="../static/js/translate.js"></script>	
</body>

</html>
